In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
drugdata = pd.read_csv('/Users/mohitdedhe/Desktop/MohitsDocs/Semester2/MachineLearning/DrugConsumption.csv')

In [34]:
drugdata.head(5)

,ID,Age,Gender,Education,Country,Ethinicity,Nscore,Escore,Oscore,Ascore,...,Ecstacy,heroin,Ketamine,Legath,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [35]:
X = drugdata[['Age','Gender','Country','Ethinicity','Nscore','Escore','Oscore','Ascore']]

In [36]:
X.head(4)

       Age   Gender  Country  Ethinicity   Nscore   Escore   Oscore   Ascore
0  0.49788  0.48246  0.96082     0.12600  0.31287 -0.57545 -0.58331 -0.91699
1 -0.07854 -0.48246  0.96082    -0.31685 -0.67825  1.93886  1.43533  0.76096
2  0.49788 -0.48246  0.96082    -0.31685 -0.46725  0.80523 -0.84732 -1.62090
3 -0.95197  0.48246  0.96082    -0.31685 -0.14882 -0.80615 -0.01928  0.59042

In [37]:
print(X.shape)
print(type(X))

(1885, 8)
<class 'pandas.core.frame.DataFrame'>

In [38]:
y=drugdata[['Ecstacy']]
y1=drugdata[['heroin']]
y2=drugdata[['Ketamine']]
y3=drugdata[['LSD']]
y4=drugdata[['Meth']]
y5=drugdata[['Mushrooms']]
y6=drugdata[['Nicotine']]
y7=drugdata[['Semer']]
y8=drugdata[['VSA']]
y9=drugdata[['Legath']]

In [39]:
#y=drugdata[['Ecstacy','heroin','Ketamine','Legath','LSD','Meth','Mushrooms','Nicotine','Semer','VSA']]

In [40]:
y.head(3)

  Ecstacy
0     CL0
1     CL4
2     CL0

In [41]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [42]:
X_train, X_test, y_train, y_test, = train_test_split(X,y,random_state=4)
X_train, X_test, y1_train, y1_test, = train_test_split(X,y1,random_state=4)
X_train, X_test, y2_train, y2_test, = train_test_split(X,y2,random_state=4)
X_train, X_test, y3_train, y3_test, = train_test_split(X,y3,random_state=4)
X_train, X_test, y4_train, y4_test, = train_test_split(X,y4,random_state=4)
X_train, X_test, y5_train, y5_test, = train_test_split(X,y5,random_state=4)
X_train, X_test, y6_train, y6_test, = train_test_split(X,y6,random_state=4)
X_train, X_test, y7_train, y7_test, = train_test_split(X,y7,random_state=4)
X_train, X_test, y8_train, y8_test, = train_test_split(X,y8,random_state=4)
X_train, X_test, y9_train, y9_test, = train_test_split(X,y9,random_state=4)

In [47]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
knn = KNeighborsClassifier(n_neighbors=11)
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)
knn.fit(X_train,y1_train)
y1_pred=knn.predict(X_test)
knn.fit(X_train,y2_train)
y2_pred=knn.predict(X_test)
knn.fit(X_train,y3_train)
y3_pred=knn.predict(X_test)
knn.fit(X_train,y4_train)
y4_pred=knn.predict(X_test)
knn.fit(X_train,y5_train)
y5_pred=knn.predict(X_test)
knn.fit(X_train,y6_train)
y6_pred=knn.predict(X_test)
knn.fit(X_train,y7_train)
y7_pred=knn.predict(X_test)
knn.fit(X_train,y8_train)
y9_pred=knn.predict(X_test)
print("Accuracy for the Estacy")
print(metrics.accuracy_score(y_test,y_pred))
print("Accuracy for the heroin")
print(metrics.accuracy_score(y1_test,y1_pred))
print("Accuracy for the Ketamine")
print(metrics.accuracy_score(y2_test,y2_pred))
print("Accuracy for the LSD")
print(metrics.accuracy_score(y3_test,y3_pred))
print("Accuracy for the Meth")
print(metrics.accuracy_score(y4_test,y4_pred))
print("Accuracy for the Mushrooms")
print(metrics.accuracy_score(y5_test,y5_pred))
print("Accuracy for the Nicotine")
print(metrics.accuracy_score(y6_test,y6_pred))
print("Accuracy for the Semer")
print(metrics.accuracy_score(y7_test,y7_pred))
print("Accuracy for the VSA")
print(metrics.accuracy_score(y8_test,y8_pred))
print("Accuracy for the Legath")
print(metrics.accuracy_score(y9_test,y9_pred))

Accuracy for the Estacy
0.5614406779661016
Accuracy for the heroin
0.875
Accuracy for the Ketamine
0.8008474576271186
Accuracy for the LSD
0.6080508474576272
Accuracy for the Meth
0.7563559322033898
Accuracy for the Mushrooms
0.565677966101695
Accuracy for the Nicotine
0.2838983050847458
Accuracy for the Semer
0.9957627118644068
Accuracy for the VSA
0.7627118644067796
Accuracy for the Legath
0.5889830508474576

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  # Remove the CWD from sys.path while we load stuff.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if sys.path[0] == '':
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  app.launch_new_instance()
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().